body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.container, .container > div {
    box-sizing: border-box;
    border: 1px solid;
    border-color: gray;
}